
@{
    ViewBag.Title = "";
    Layout = null;
}

<h2>Response</h2>
<div class="jumbotron">
    <h1>Payment Response</h1>

    Status: @ViewBag.status
    <br/>
    Description: @ViewBag.Desc
    <br />
    


    </div>